@media (max-width:991px){
    /* custom css */
    h1{
        font-size: 2.1875rem;
    }
    h2{
        font-size: 1.375rem;
    }
    .text-content{
        width: 100%;
    }
    .wrapper{
        padding-top: 4.25rem;
        padding-bottom: 3.25rem;
    }
    /* navbar */
    .navigation-wrap{
        text-align: center;
        background-color: var(--white-color);
    }
    .navigation-wrap .nav-link{
        line-height: 1.875rem;
    }
}
@media(max-width:767px){
    /* custom css */
    h1{
        font-size: 30px;
    }
}